<div class="content-container">
  <md-toolbar class="md-warn md-hue-2">
    <div class="md-toolbar-tools" layout="row" flex layout-wrap>

      <div class="logo" flex-gt-lg="15" flex-offset-gt-lg="25" flex-gt-md="20" flex-offset-gt-md="10"  flex-gt-sm="30" flex-offset-gt-sm="0" flex-sm="40" flex-offset-sm="0" layout-align="start center">
        
        <audio controls preload="auto" src="https://api.soundcloud.com/tracks/90139572/stream?client_id=9e3abdceafbd5ef113b3430508a34c92"></audio>

        <md-button class="md-primary" ng-click="showPlaylist($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">
          <md-icon md-menu-origin md-svg-icon="../assets/icons/ic_queue_music_white_24px.svg"></md-icon>
        </md-button>

      </div>


    	<div flex-gt-lg="10" flex-offset-gt-lg="25" flex-gt-md="10" flex-offset-gt-md="50"  flex-gt-sm="10" flex-offset-gt-sm="55" flex-sm="10" flex-offset-sm="35" layout="row" layout-align="start center">

        <div>Home</div>
        <div>Logout</div>

    	</div>
    </div>
  </md-toolbar>
</div>
