<div class="content-container">
  <md-toolbar class="md-warn md-hue-2">
    <div class="md-toolbar-tools" layout="row" flex layout-wrap>

      <div class="logo" flex-gt-lg="15" flex-offset-gt-lg="25" flex-gt-md="20" flex-offset-gt-md="10"  flex-gt-sm="30" flex-offset-gt-sm="0" flex-sm="40" flex-offset-sm="0" layout-align="start center">

        <img class="logo" src="./images/ogre.gif">

      </div>


    	<div flex-gt-lg="10" flex-offset-gt-lg="25" flex-gt-md="10" flex-offset-gt-md="50"  flex-gt-sm="10" flex-offset-gt-sm="55" flex-sm="10" flex-offset-sm="35" layout="row" layout-align="start center">

        <div>Home</div>
        <div>Logout</div>

    	</div>
    </div>
  </md-toolbar>
</div>
